In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline

In [14]:
data1=pd.Series(np.random.randn(100)*100)
data2=pd.Series(np.random.randn(100)*50)
data1.sort_values(inplace=True)
data2.sort_values(inplace=True)
data1_mean=np.mean(data1)
data2_mean=np.mean(data2)
data1_std=np.std(data1)
data2_std=np.std(data2)
data=pd.DataFrame({'data1':data1.values,'data2':data2.values})
data

         data1       data2
0  -315.766498 -147.239530
1  -236.289692 -141.758592
2  -221.109225 -105.956125
3  -219.572714 -102.917719
4  -215.712325  -96.096705
..         ...         ...
95  156.611808   81.120043
96  167.592799   88.761220
97  183.569502   91.914304
98  200.618697   98.957962
99  207.648766  115.290224

[100 rows x 2 columns]

In [18]:
stats.kstest(data1,'norm',(data1_mean,data1_std)),stats.kstest(data2,'norm',(data2_mean,data2_std))

(KstestResult(statistic=0.08888157778301797, pvalue=0.3885126671443846),
 KstestResult(statistic=0.04152622724005206, pvalue=0.9952825077343997))

AttributeError: module 'numpy' has no attribute 'corr'

In [22]:
data.corr(method='pearson')

          data1     data2
data1  1.000000  0.993665
data2  0.993665  1.000000

In [23]:
data.corr(method='spearman')

       data1  data2
data1    1.0    1.0
data2    1.0    1.0